/* ESTILO GENERALES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0; /* Fondo digitalizado */
    background-size: cover;
}

/* ESTILOS DEL TÍTULO */
.div-titulo {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-titulo h1 {
    font-weight: 200;
}

/* ESTILOS DEL FORMULARIO */
.div-formulario {
    width: 50%;
    margin: 15px;
    background-color: #3498db; /* Azul */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.3);
    color: white;
    padding: 20px;
}

.div-formulario input {
    width: 80%;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.div-formulario button {
    background-color: #2ecc71; /* Verde */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.div-formulario button:hover {
    background-color: #27ae60; /* Verde más oscuro al pasar el mouse */
}

/* ESTILOS DEL REGISTRO DE ESTUDIANTES */
.div-listado {
    width: 50%;
    margin: 15px;
    background-color: #29b96a;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.3);
    color: white;
    padding: 20px;
}

.div-listado p {
    margin-bottom: 10px;
}

.boton-editar,
.boton-eliminar {
    margin-top: 10px;
    background-color: #e74c3c; /* Rojo */
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.boton-editar:hover,
.boton-eliminar:hover {
    background-color: #c0392b; /* Rojo más oscuro al pasar el mouse */
}
